body{
    
   background:rgb(240, 180, 227);
}
main{
    padding-left:auto;
    margin-left: 20px;
}

.panel-default > .panel-heading-custom {
    background-color: rgb(116, 74, 129);
    
 
}


.panel-body {
    background-color: rosybrown;
}

.row{
    margin-bottom:20px;
    margin-left:0px;
    
}
h1{
    font-family: cursive;
    color: black;
    font-style: italic;
    text-align: center;
    margin-left: 50%;
}

.container {
    width: 400px;
    background-color: #66cfff;
}

.random_no{
    background-color:rgb(216, 189, 71);
    color:black;
    height: 110px;
    padding:20px;
    font-size: 20px;
    margin-right: 20%;

   
}
.score{
    background-color:rgb(230, 221, 173);
    color:black;
    height: 110px;
    padding:20px;
}
.pscore{
    background-color:greenyellow;
    color:black;
    margin-left: 40%;
    line-height: 2em;
}

.scoreboard{
    height: 50px;
    padding:10px;
    font-size: 20px;
}
button{
    background: pink;
}
